@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

/* BACKGROUND IMAGES */
.bg-image {
    background-image: url("https://github.com/Drewthurm21/artGallery/blob/main/images/cat.JPG?raw=true");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 { background-image: url("https://github.com/Drewthurm21/artGallery/blob/main/images/cat.JPG?raw=true"); }
.img2 { background-image: url("https://github.com/Drewthurm21/artGallery/blob/main/images/smallbird.JPG?raw=true"); }
.img3 { background-image: url("https://github.com/Drewthurm21/artGallery/blob/main/images/mushrooms.JPG?raw=true"); }
.img4 { background-image: url("https://github.com/Drewthurm21/artGallery/blob/main/images/mushroom.JPG?raw=true"); }
.img5 { background-image: url("https://github.com/Drewthurm21/artGallery/blob/main/images/flower.JPG?raw=true"); }
.img6 { background-image: url("https://github.com/Drewthurm21/artGallery/blob/main/images/mountain.JPG?raw=true"); }

/* BANNER IMAGE */
.main-banner-container {
    position: fixed;
    top: 10%;
    left: 65%;
    height: 18vh;
}

.main-banner-image {
   height: 100%;
   width: auto;
}

/* MODAL LINKS */
.main-links-container {
    position: fixed;
    width: fit-content;
    height: 100px;
    bottom: 0%;
    left: 35%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.main-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;

    border: 2px solid grey;
    border-radius: 5px;
    background-color: var(--TAN_BACKGROUND);
    box-shadow: 1px 1px 15px 2px var(--GREY_TEXT);
    margin: 0px 10px 0px 10px;

    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: var(--CHARCOAL);
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */
.main-foot-container {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
}


@media screen and (max-width: 375px) {
    .main-links-container {
        position: fixed;
        width: fit-content;
        height: 50px;
        bottom: 0%;
        left: 20%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
    }

    .main-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 30px;

        border: 2px solid grey;
        border-radius: 5px;
        background-color: var(--TAN_BACKGROUND);
        box-shadow: 1px 1px 15px 2px var(--GREY_TEXT);
        margin: 0px 5px 0px 5px;

        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        color: var(--CHARCOAL);
        font-weight: bold;
        cursor: pointer;
    }
}