.blog-form-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 10vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--CHARCOAL);
  border: 5px solid var(--TAN_BACKGROUND);
  border-radius: 10px;
  overflow-y: scroll;
  opacity: .95;
}

.blog-form-container::-webkit-scrollbar {
  display: none;
}

/* BLOG FORM & INPUTS */
.blog-form-form {
  display: flex;
  flex-direction: column;
  background-color: var(--TAN_BACKGROUND);
  padding: 30px;
  color: var(--CHARCOAL);
  border-radius: 5px;
  height: 90%;
  width: 90vw;
}

.blog-form-header-underline {
  border-bottom: 2px solid black;
  margin-top: 0px;
  margin-bottom: 20px;
}

/* PREVIEW IMAGE */
.preview-img-container {
  width: 100%;
}

.preview-img {
  margin-top:0px;
  margin-bottom:10px;
  width: 35vw;
  max-width: 400px;
}


/* INPUTS */
.blog-form-form-inputs-container{
  display: flex;
  flex-direction: row;
}

.blog-form-form-input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  font-weight: bold;
  margin-right: 20px;
}

.blog-form-form-input > input {
  width: 270px;
  height: 30px;

  outline: none;
  border: none;
  border-radius: 3px;
}


/* BUTTONS */
.blog-form-form-buttons {
  display: flex;
  margin: 10px 20px 10px 0px;
}

.blog-form-form-btn {
  display: flex;
  justify-content: center;
  padding: 10px 20px 10px 20px;
  width: 200px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: white;
  transition: background-color 300ms, color 300ms;
  cursor: pointer;
}

.blog-form-form-btn:hover {
  color: white;
  background-color: var(--TEAL);
}

@media screen and (max-width: 450px){

  /* BLOG FORM & INPUTS */
  .blog-form-form {
    display: flex;
    flex-direction: column;
    background-color: var(--TAN_BACKGROUND);
    padding: 30px;
    color: var(--CHARCOAL);
    border-radius: 5px;
    height: 95%;
    width: 90vw;
  }

  .blog-form-header-underline {
    border-bottom: 2px solid black;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  /* PREVIEW IMAGE */
  .preview-img {
    margin-top:0px;
    margin-bottom:5px;
    width: 30vw;
    max-width: 200px;
  }


  /* INPUTS */
  .blog-form-form-inputs-container{
    display: flex;
    flex-direction: column;
  }

  .blog-form-form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    font-weight: bold;
    margin-top: 20px;
  }
}