.blog-form-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 10vh;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--CHARCOAL);
  border: 5px solid var(--TAN_BACKGROUND);
  border-radius: 10px;
  overflow-y: scroll;
  opacity: .95;
  box-sizing: border-box;
}

.blog-form-container::-webkit-scrollbar {
  display: none;
}

/* BLOG FORM & INPUTS */
.blog-form-form {
  display: flex;
  flex-direction: column;
  background-color: var(--TAN_BACKGROUND);
  padding: 50px;
  color: var(--CHARCOAL);
  border-radius: 5px;
  height: 70%;
  width: 90vw;
}

.blog-form-header-underline {
  border-bottom: 2px solid black;
  margin-top: 0px;
  margin-bottom: 40px;
}

/* PREVIEW IMAGE */

.preview-img-container {
  max-width: 90vw;
}

.preview-img {
  max-width: 100%;
}



/* INPUTS */
.blog-form-form-inputs-container{
  display: flex;
  flex-direction: row;
}

.blog-form-form-input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  font-weight: bold;
}

.blog-form-form-input > input {
  width: 270px;
  height: 30px;

  outline: none;
  border: none;
  border-radius: 3px;
}


/* BUTTONS */
.blog-form-form-buttons {
  display: flex;
  margin: 40px 20px 20px 0px;
}

.blog-form-form-buttons > div {
  display: flex;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: white;
  transition: background-color 300ms, color 300ms;
  cursor: pointer;
}

.blog-form-form-buttons > div:hover {
  color: white;
  background-color: var(--TEAL);
}


/* SOCIAL MEDIA LINKS */
.blog-form-social-container {
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;   
}

.blog-form-social-icon {
  margin: 15px 15px 0px 0px;
}
