.contact-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 10vh;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--CHARCOAL);
    border: 5px solid var(--TAN_BACKGROUND);
    border-radius: 10px;
    overflow-y: scroll;
    opacity: .95;
    box-sizing: border-box;
    animation: fade-in 300ms linear;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.contact-container::-webkit-scrollbar {
    display: none;
}

/* CONTACT FORM & INPUTS */
.contact-form {
    height: 70vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    background-color: var(--TAN_BACKGROUND);
    padding: 30px;
    color: var(--CHARCOAL);
    border-radius: 5px;
}

.contact-header-underline {
    border-bottom: 2px solid black;
    margin-top: 0px;
}

/* INPUTS */
.contact-form-inputs-container{
    display: flex;
    flex-direction: row;
}

.contact-form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    font-weight: bold;
    width: 100%;
    margin: 10px 20px 0px 0px;
}

.contact-form-input > label {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-form-input > input {
    width: 100%;
    height: 65px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
}


/* TEXTAREA */
.contact-form-textarea {
    display: flex;
    flex-direction:column;
    margin-top: 70px;
    height: 100%;
    font-weight: bold;
}

.contact-form-textarea > label {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-form-textarea > textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    font-family: inherit;
    padding: 10px;
    font-size: 16px;
}

/* BUTTONS */
.contact-form-buttons {
    display: flex;
    margin: 40px 20px 20px 0px;
}

.contact-form-buttons > div {
    display: flex;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: white;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
    margin-right: 10px;
}

.contact-form-buttons > div:hover {
    color: white;
    background-color: var(--TEAL);
}


/* SOCIAL MEDIA LINKS */
.contact-social-container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;   
}

.contact-social-icon {
    margin: 15px 15px 0px 0px;
}

.error-message {
    font-size: 16px;
    color: red;
}

@media screen and (max-width: 450px) {

    .contact-container {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--CHARCOAL);
        border: 5px solid var(--TAN_BACKGROUND);
        border-radius: 10px;
        overflow-y: scroll;
        opacity: .95;
        box-sizing: border-box;
        animation: fade-in 300ms linear;
    }

    .contact-form {
        height: 90%;
        width: 85vw;
        display: flex;
        flex-direction: column;
        background-color: var(--TAN_BACKGROUND);
        padding: 30px;
        color: var(--CHARCOAL);
        border-radius: 5px;
    }

    .error-message {
        font-size: 12px;
        color: red;
    }
    .contact-form-textarea {
        display: flex;
        flex-direction:column;
        margin-top: 10px;
        height: 100%;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
    }

    .contact-form-textarea > label {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .contact-form-textarea > textarea {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 3px;
        margin-top: 5px;
        font-family: inherit;
        padding: 5px;
        font-size: 12px;
    }

    .contact-form-inputs-container{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .contact-form-input{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
    }

    .contact-form-input > label {
        font-size: 12px;
        margin-bottom: 5px;
    }   

    .contact-form-input > input {
        width: 90%;
        height: 20px;
        padding: 5px;
        /* margin: 10px 0 0 0; */
        line-height: 16px;
        outline: none;
        border: none;
        border-radius: 3px;
        font-size: 12px;
    }

    /* BUTTONS */
    .contact-form-buttons {
        display: flex;
        /* justify-content:center; */
        align-items:center;
        margin: 20px 20px 20px 0px;
    }

    .contact-form-buttons > div {
        display: flex;
        align-items: center;
        padding: 10px 20px 10px 20px;
        margin-right: 10px;
        font-weight: bold;
        font-size: 12px;
        outline: none;
        border: none;
        border-radius: 3px;
        background-color: white;
        transition: background-color 300ms, color 300ms;
        cursor: pointer;
    }

    .contact-social-icon {
        margin: 15px 15px 0px 0px;
        font-size: 12px;
    }
}