/* UNIVERSAL */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap');

:root {

    --PINK: #ceb1a6;
    --WHITE: #ffffff;
    --BOX_SHADOW: #e8e8eb;
    --GREY_SHADOW: #f5f8fa;
    --TAN_BACKGROUND: #e7dfd9;
    --GREY_TEXT: #a2a2a2;
    --CHARCOAL: #222b37;
    --BLACK: black;
    --RUST: #8A584C;
    --TEAL: #8FA6AC;
    --LIGHT_TAN: #F5EACF;
    --DARK_TAN: #CEB793;
    --FOREST_GREEN: #85865F;
    --DARK_GREEN: #4F583D;

}

body {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--CHARCOAL);
    margin: 0;
    overflow-x: hidden;
}

.flex-center { 
    display: flex;
    justify-content: center;
    align-items: center;
}
