
/* ADMIN CONTAINERS */
.admin-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
        ' . admin-header .'
        ' . admin-content . '
        ' . admin-footer . ';
    height: 100vh;
    width: 100vw;
    background-color: var(--CHARCOAL);
    grid-gap: 3px;
    font-size: 20px;
    overflow-y: none;
}

.admin-header { grid-area: admin-header; width: 90vw}
.admin-content { 
    grid-area: admin-content; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90vw; 
    font-size: inherit;
    overflow-y: scroll;
}
.admin-footer { grid-area: admin-footer; width: 90vw; }

/* COMMENTS FEED */
.comments-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}


.comment-post-container {
    display: flex;
    flex-direction: column;
    font-size: inherit;
    height: 400px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: 3px solid rgba(190,190,190,0.6);
    box-shadow: 4px 4px 20px 1px rgba(190,190,190,0.45);
    animation: fade-in 300ms linear;
}

.comment-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0px 20px 0px 20px;
    background-color: var(--BOX_SHADOW);
    font-size: inherit;
}

.comment-post-content {
    height: 300px;
    width: 100%;
    padding: 0px 20px 0px 20px;
    background-color: var(--GREY_SHADOW);
    font-size: inherit;
}

/* COMMENTS FEED SCROLL */
.comments-container::-webkit-scrollbar {
    background-color: var(--TAN_BACKGROUND);
    display: block;
    width: .6rem;
    overflow: auto;
    height: 2em;
}

.comments-container::-webkit-scrollbar-thumb {
    background-color: var(--RUST);
    border-radius: 5px;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 450px) {

    /* ADMIN CONTAINERS */
    .admin-container {
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 40px 1fr 20px;
        grid-template-areas:
            ' . admin-header .'
            ' . admin-content . '
            ' . admin-footer . ';
        height: 100vh;
        width: 100vw;
        background-color: var(--CHARCOAL);
        grid-gap: 3px;
        font-size: 12px;
        overflow-y: none;
    }

    /* COMMENTS FEED */
    .comment-post-container {
        display: flex;
        flex-direction: column;
        font-size: inherit;
        height: 200px;
        width: 100%;
        margin-top: 5px;
        border-radius: 5px;
        border: 3px solid rgba(190,190,190,0.6);
        box-shadow: 4px 4px 20px 1px rgba(190,190,190,0.45);
        animation: fade-in 300ms linear;
    }

    .comment-post-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        width: 100%;
        padding: 0px 20px 0px 20px;
        background-color: var(--BOX_SHADOW);
        font-size: inherit;
    }

    .comment-post-content {
        height: 150px;
        width: 100%;
        padding: 0px 20px 0px 20px;
        background-color: var(--GREY_SHADOW);
        font-size: inherit;
    }

}