
/* LOGIN CONTAINERS  */
.login-form-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 750px 1fr;
    grid-template-areas:
        ' . . . '
        ' . login-form . '
        ' . . . ';
    height: 100vh;
    width: 100vw;
    background-color: var(--CHARCOAL)
}

@media screen and (max-width: 850px) {
  .login-form-container {
    transform: scale(1.25)
  }
}


.login-form-container::-webkit-scrollbar {
    display: none;
}

/* LOGIN FORM  */
.login-form {
    grid-area: login-form;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--TAN_BACKGROUND);
    padding: 70px;
    color: var(--CHARCOAL);
    border-radius: 5px;
}

.form-errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    color: var(--RUST)
}

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* INPUTS */

.login-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    padding-left: 20px;
    width: 400px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 10px;
}

.login-label {
    font-weight: bold;
}

.login-error-message {
    margin-bottom: 10px;
}


/* BUTTONS */
.login-button {
    display: flex;
    margin: 20px 0px 20px 0px;
    width: 400px;
    padding: 10px 0px 10px 20px;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid grey;
    background-color: white;
    border-radius: 3px;
    color: var(--CHARCOAL);
    cursor: pointer;
}

/* .login-form-form-buttons > div {
    display: flex;
    padding: 40px 0px 40px 0px;
    width: 90%;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: white;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
} */

/* .login-form-form-buttons > div:hover {
    color: white;
    background-color: var(--TEAL);
} */