
/* LOGIN CONTAINERS  */
.login-form-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--CHARCOAL);
    font-size: 20px;
}

/* LOGIN FORM  */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--TAN_BACKGROUND);
    padding: 30px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: var(--CHARCOAL);
    border-radius: 5px;
    width: 70vw;
}

.form-errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    color: var(--RUST);
    font-size: inherit;
}

.login-error-message {
    margin-bottom: 10px;
}


/* INPUTS */

.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 40vh;
    width: 70%;
    font-size: inherit;
}

.login-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 20px;
    font-size: inherit;
}

.login-label {
    font-weight: bold;
}


/* BUTTONS */
.login-button {
    display: flex;
    margin: 0px 0px 20px 0px;
    width: 70%;
    padding: 10px 0px 10px 20px;
    border: 2px solid grey;
    background-color: white;
    border-radius: 3px;
    color: var(--CHARCOAL);
    cursor: pointer;
    justify-content:center;
    font-weight: bold;
    font-size: inherit;
}

@media screen and (max-width: 450px) {

    /* LOGIN CONTAINERS  */
    .login-form-container {
        display: flex;
        justify-content: center;
        align-items: space-between;
        height: 100vh;
        width: 100vw;
        background-color: var(--CHARCOAL);
        font-size: 14px;
    }

    /* LOGIN FORM  */
    .login-form {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        background-color: var(--TAN_BACKGROUND);
        padding: 10px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        color: var(--CHARCOAL);
        border-radius: 5px;
        width: 80vw;
    }

    .form-errors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px 10px 0px;
        color: var(--RUST);
        font-size: inherit;
        height: fit-content;
    }

    .login-error-message {
        margin-bottom: 10px;
    }


    /* INPUTS */

    .form-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 40vh;
        width: 70%;
        font-size: inherit;
    }

    .login-input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40px;
        padding-left: 20px;
        width: 100%;
        margin-bottom: 80px;
        margin-top: 20px;
        font-size: inherit;
    }

    .login-label {
        font-weight: bold;
    }


    /* BUTTONS */
    .login-button {
        display: flex;
        margin: 0px 0px 20px 0px;
        width: 70%;
        padding: 10px 0px 10px 20px;
        border: 2px solid grey;
        background-color: white;
        border-radius: 3px;
        color: var(--CHARCOAL);
        cursor: pointer;
        justify-content:center;
        font-weight: bold;
        font-size: inherit;
    }

}


/* 
@media screen and (max-width=)

.login-button {
    display: flex;
    margin: 20px 0px 20px 0px;
    width: 80%;
    padding: 10px 0px 10px 20px;
    border: 2px solid grey;
    background-color: white;
    border-radius: 3px;
    color: var(--CHARCOAL);
    cursor: pointer;
    justify-content:center;
    font-weight: bold;
    font-size: 35px;
} */

/* .login-form-form-buttons > div {
    display: flex;
    padding: 40px 0px 40px 0px;
    width: 90%;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: white;
    transition: background-color 300ms, color 300ms;
    cursor: pointer;
} */

/* .login-form-form-buttons > div:hover {
    color: white;
    background-color: var(--TEAL);
} */