
.nav-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    border: 2px solid grey;
    border-radius: 5px;
    background-color: var(--TAN_BACKGROUND);
    box-shadow: 1px 1px 15px 1px var(--GREY_TEXT);

    font-weight: bold;
    font-size: inherit;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 450px){

  .nav-link {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 30px;

      border: 2px solid grey;
      border-radius: 5px;
      background-color: var(--TAN_BACKGROUND);
      box-shadow: 1px 1px 15px 1px var(--GREY_TEXT);

      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
      text-decoration: none;
  }

}